/* // < !--this project is created by krishna6431-- > */
body{
    background-color: #000;
    background-repeat: no-repeat;
    background-position:relative;
    height:100%;
    width:100%;
}

#canvas{

    margin-left: 25vw;  
}