/* // < !--this project is created by krishna6431-- > */
body{
    background-image: url("../resources/bg.jpg");
    background-position:relative;
    height:100%;
    width:100%;
}

#canvas{

    margin-left: 25vw;  
}